@font-face {
    font-family: 'lanakimregular';
    src: url('fonts/lanakim-Regular.woff2') format('woff2'), url('fonts/lanakim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar {
    width: 0px;
}

::-moz-selection { /* Code for Firefox */
    color: #c6ff00;
    background: rgb(255, 255, 255, 0);
}

::selection {
    color: #c6ff00;
    background: rgb(255, 255, 255, 0);
}

body {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: 'lanakimregular';
  background-color: #f8f8f8;
  overflow: hidden;
}

p {
  font-family: 'lanakimregular';
  margin: 0;
  color: #000;
  cursor: default;
}

a {
  z-index: 50;
  cursor: pointer;
  color: #000;
  transition: 0.05s ease-in;
  text-decoration: none;
}

a:hover {
  color: #c6ff00;
}

.number {
  color: #000;
  font-size: 12px;
  margin-right: 5px;
}

.title {
  color: #000;
}

img {
  position: relative;
  width: 100%;
  /* border-radius: 5px; */
}

ul,li {
    margin-left: 0;
    padding-left: 0;
}

.load-appear {
  opacity: 0;
}

.load-appear.load-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.f1-appear {
  opacity: 0;
}

.f1-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.f2-appear {
  opacity: 0;
}

.f2-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.f3-appear {
  opacity: 0;
}

.f3-appear-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.f4-appear {
  opacity: 0;
}

.f4-appear-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  background-color: #f8f8f8;
overflow: scroll;
}

.modalwrap {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px 10px 0 10px;
  display: inline-block;
  vertical-align: top;
  overflow: scroll;
}

.back {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: auto;
  height: auto;
  z-index: 600;
}

.App {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

.slick-list {
  transition: 0.1s;
}

.personal {
  width: calc(100% - 20px);
  height: calc(100vh - 40px);
  margin: 0;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}

.personalcap {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 0;
  z-index: 4;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: #f8f8f8;
}

.nav {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.time {
  display: none;
}

.infoText{
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  color: #000;
}

.infoNav {
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding-bottom: 20px;
  z-index: 900;
  background-color: #f8f8f8;
  padding-top: 5px;
  margin-left: 10px;
}

.infoWrap {
  width: calc(100% - 20px);
  height: calc(100vh - 40px);
  margin: 0;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}

@media only screen and (max-width: 1250px) {

  .App {
    padding: 10px;
  }

  img {
    max-width: 100%;
    position: relative;
    width: 100%;
  }

  .modalwrap {
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
  }

  .personal {
    height: calc(100vh - 73px);
    width: calc(100% - 20px);
  }

  /* .personalcap {
    position: fixed;
    width: calc(50vw - 40px);
    padding: 5px 0 53px 0;
  } */

  .nav {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100%;
    height: auto;
    display: inline-block;
    z-index: 500;
  }

  .nav div {
    position: auto;
    display: inline-block;
    margin-right: 10px;
  }

  .infoWrap {
    height: calc(100vh - 73px);
    width: calc(100% - 20px);
  }

  .infoNav {
    width: calc(100% - 20px);
    position: fixed;
    bottom: 0;
    z-index: 4;
    padding-bottom: 53px;
    padding-top: 5px;
    background-color: #f8f8f8;
  }
}

@media only screen and (max-width: 750px) {

  .App {
    padding: 0;
  }

  body {
      overflow: auto;
      font-size: 12px;
  }

  img {
    max-width: 100%;
  }

  .modalwrap {
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .personal {
    width: calc(100% - 20px);
    height: auto;
    margin: 0;
    display: block;
    padding-top: 0;
  }

  .personalcap {
    position: relative;
    display: block;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    z-index: 50;
  }

  .nav {
    position: relative;
    font-size: 12px;
    line-height: 14px;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    z-index: 10;
    height: auto;
    padding: 10px 10px 5px 10px;
  }

  .infoNav {
    position: fixed;
    bottom: 20px;
    padding-bottom: 30px;
  }

  .back {
    width: 100%;
    height: auto;
    bottom: 5px;
    left: 0;
    padding: 10px;
    background-color: #f8f8f8;
  }

  .name {
    position: relative;
  }

  .name p {
    color: #9e9e9e;
  }

  .infoText {
    font-size: 12px;
    line-height: 14px;
  }

  .infoWrap {
    padding-top: 9px;
    width: calc(100% - 20px);
    height: auto;
    display: block;
  }

  .topborder {
    display: none;
  }
}
