@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff center center no-repeat;
}

/* Icons */

/* Arrows */
.slick-prev,
.slick-next
{
    position: absolute;
    margin-top: 0;
    height: 100%;
    width: 50%;

    display: block;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 999;
}

.slick-prev
{
    left: 0px;
    cursor: w-resize;
}
[dir='rtl'] .slick-prev
{
    right: 0px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}


.slick-next
{
    right: 0px;
    cursor: e-resize;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}
